{{ define "git-menu" }}{{ end }}
{{ define "filetree-menu" }}active{{ end }}
{{ define "blobstore-menu" }}{{ end }}
{{ define "kvstore-menu" }}{{ end }}
{{ define "docstore-menu" }}{{ end }}
{{ define "head" }}{{ end }}
{{ define "main" }}

{{ range .path }}
{{ if eq .name "_root" }}
<a href="/api/apps/admin/filetree/{{ $.ref }}/{{ $.name }}">{{ $.name }}</a> / 
{{ else }}
<a href="/api/apps/admin/filetree/{{ $.ref }}/{{ $.name }}/{{ .ref }}">{{ .name }}</a> / 
{{ end }}
{{ end }}
{{ if .node }}
{{ .node.name }}

{{ if .node }}

{{ if eq .node.type "dir" }}

<div style="margin:20px 0">
<details>
    <summary>Actions</summary>


<form action="/api/apps/admin/filetree/upload?ref={{.ref}}&name={{.name}}&path={{.spath}}" method="post" enctype="multipart/form-data">
<input type="file" name="file">
<button type="submit">upload</button>
</form>

<form action="/api/apps/admin/filetree/mkdir?ref={{.ref}}&name={{.name}}&path={{.spath}}" method="post">
<input type="text" name="newdir">
<button type="submit">mkdir</button>
</form>
</details>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mode</th>
      <th>Size</th>
      <th>ModTime</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range .node.children }}
    <tr>
        <td class="truncate" style="font-size:0.9em;"><a title="{{ .name }}" href="/api/apps/admin/filetree/{{ $.ref }}/{{ $.name }}/{{ .hash }}">{{ .name }}</a></td>
        <td style="white-space:nowrap;font-size:0.9em;">{{ .mode }}</td> 
        <td style="white-space:nowrap;font-size:0.9em;">{{ if eq .type "file" }}{{ .size_human }}{{ else }}{{ .children_count }} items{{ end }}</td>
        <td style="font-size:0.9em;">{{ .mtime_short }}</td>
        <td>{{ if eq .type "file" }}<a href="{{ .dl_url }}">[dl]</a> <a href="{{ .url }}">[o]</a>{{ else }}<a href="{{ .tgz_url }}">[tgz]</a>{{ end }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ else }}

{{ if .node.is_image }}

<div style="margin:30px auto;">
    <img src="{{ .node.url }}{{ if gt .node.image_width 640.0 }}&w=640{{ end }}" />
</div>

{{ end }}

{{ if .node.is_video }}
<div style="margin:30px auto;">
<video controls poster="{{ .node.webm_poster_url }}">
<source src="{{ .node.webm_url }}" type="video/webm">
Sorry, your browser doesn't support embedded videos.
</video>
</div>
{{ end }}
<dl style="margin-top:30px;">

<dt>name</dt>
<dd>{{ .node.name }}</dd>

<dt>size</dt>
<dd>{{ .node.size_human }}</dd>

<dt>modetime</dt>
<dd>{{ .node.mtime }}</dd>

{{ if .node.is_video }}

<dt>duration</dt>
<dd>{{ .node.video_duration }}</dd>


<dt>codec</dt>
<dd>{{ .node.video_codec }}</dd>

<dt>format</dt>
<dd>{{ .node.video_width }} x {{ .node.video_height }}</dd>

{{ end }}

{{ if .node.is_image }}

<dt>size</dt>
<dd>{{ .node.image_width }} x {{ .node.image_height }}</dd>

{{ end }}

<dt>hash</dt>
<dd><code>{{ .node.hash }}</code></dd>

</dl>

{{ if .node.contents }}
<div style="margin-top: 30px;">
<pre class="code"><code>{{ .node.contents }}</code></pre>
</div>
{{ end }}

{{ end }}
{{ end }}

{{ end }}

{{ if .versions }}

<div>{{ $.name }} / versions</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hostname</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    {{ range .versions }}
    <tr>
        <td><a href="/api/apps/admin/filetree/{{ .ref }}/{{ $.name }}">{{ .created_at }}</a></td>
        <td>{{ .hostname }}</td>
        <td>{{ .message }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}


{{ if .data }}

<form action="/api/apps/admin/filetree" method="post">
<input type="text" name="name">
<button type="submit">new FS</button>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>FS</th>
    </tr>
  </thead>
  <tbody>
    {{ range .data }}
    <tr>
        <td><a href="/api/apps/admin/filetree/{{ .ref }}/{{ .name }}">{{ .name }}</a> 
        <span style="float:right">
            <a href="/api/apps/admin/filetree/versions/{{ .name }}">[versions]</a>
            <a href="{{ .tgz_url }}">[tgz]</a>
        </span>
        </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}


{{ end }}
