{{ define "git-menu" }}{{ end }}
{{ define "docstore-menu" }}{{ end }}
{{ define "filetree-menu" }}{{ end }}
{{ define "blobstore-menu" }}{{ end }}
{{ define "kvstore-menu" }}active{{ end }}
{{ define "head" }}{{ end }}
{{ define "main" }}

{{ if .keys }}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Key</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    {{ range .keys }}
    <tr>
        <td><a href="/api/apps/admin/kvstore?key={{ .key }}&version={{ .version}}">{{ .key }}</a></td>
        <td><span style="border-bottom:1px dotted black;" title="{{ .version_human }}">{{ .version }}</span></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}


{{ if .kv }}
<dl style="margin-top:30px;">

<dt>key</dt>
<dd>{{ .kv.key }}</dd>

<dt>version</dt>
<dd><span style="border-bottom:1px dotted black;" title="{{ .kv.version_human }}">{{ .kv.version }}</span></dd>

<dt>ref</dt>
<dd><code>{{ .kv.ref }}</code></dd>

<dt>data</dt>
<dd><pre><code>{{ .kv.data }}</code></pre><dd>

</dl>
{{ end }}

{{ end }}
